.filterbox {
  max-height: 15vh;
  overflow: auto;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  user-select: none;
}

.filterbox .item {
  display: block;
  cursor: pointer;
}

span.state-S {
  background: #44751d;
  color: #ffffff;
 }

span.state-X {
  background: #a9a9a9;
  color: #000000;
}

.filterbox-root {
  position: relative;
}

.filterbox-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.filterbox-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  right: 10px;
  top: 14px;
  width: 0;
  position: absolute;
}

.filterbox-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

