version: "3.1"

services:
  openresty:
    build: .
    environment:
      DEV: 'true'
      SESSION_COOKIE_NAME: custom-analytics
      KIBANA_HOST: 127.0.0.1
      KIBANA_PORT: 5601
      GRAFANA_HOST: 127.0.0.1
      GRAFANA_PORT: 3000
      VISUALIZER_HOST: 127.0.0.1
      VISUALIZER_PORT: 8080
      QIX_SESSION_HOST: qix-session
      QIX_SESSION_PORT: 9455
      AUTH_HOST: auth
      AUTH_PORT: 3000
      RABBITMQ_HOST: 127.0.0.1
      RABBITMQ_PORT: 15672
    networks:
      - qliktivecustomanalytics_default
    ports:
      - "80:80"
      - "443:443"

  webpack-dev:
    image: mhart/alpine-node:8
    networks:
      - qliktivecustomanalytics_default
    ports:
      - "8080:8080"
    volumes:
      - ./custom-analytics-ui:/ui
    command: sh -c 'cd /ui && npm install && npm run start'

networks:
  qliktivecustomanalytics_default:
    external: true
