@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src:  url(resources/MaterialIcons-Regular.woff2) format('woff2'),
        url(resources/MaterialIcons-Regular.woff) format('woff'),
        url(resources/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 0;
  line-height: 1.5;
  overflow: hidden;
}

#root {
  height: 100%;
}

#the-page {
  height: 100%;
}


