main {
  display: block;
  height: 100%;
  overflow: auto;
}

.main {
  overflow: auto;
  height: 100%;
}

.app-background{
  background-color: #eaeaea;
}

.row .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col {
    float: left;
    box-sizing: border-box;
    min-height: 1px;
}
